In [1]:
import json
import os
import sys
import pandas as pd
from pprint import pprint

REUTERS_JSON_FP = './train/reuters.json'

/Users/nikked/Envs/py3env/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/nikked/Envs/py3env/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [8]:
if not os.path.exists(REUTERS_JSON_FP):
    print(f'Could not find file {REUTERS_JSON_FP}. Please run data_preprocess.py first.')
    sys.exit(1)

with open(REUTERS_JSON_FP, 'r') as file:
    print(f'Opening file {REUTERS_JSON_FP}')
    reuters_articles = json.load(file)

print(f'\nAmount of articles: {len(reuters_articles.keys())}\n')

Opening file ./train/reuters.json

Amount of articles: 299773

In [10]:
df = pd.DataFrame(columns=['topic_codes', 'headline', 'text'])

df_max_size = 10000
idx = 0

total_articles_in_df = min(df_max_size, len(reuters_articles))

for article_identifier, content in reuters_articles.items():
    
    if idx % 1000 == 0:
        print(f'Adding item {idx}/{total_articles_in_df}')
    df.loc[article_identifier] = [str(content['topic_codes']), content['headline'], str(content['text'])]
    idx += 1
    
    if idx >=  total_articles_in_df:
        break

Adding item 0/10000
Adding item 1000/10000
Adding item 2000/10000
Adding item 3000/10000
Adding item 4000/10000
Adding item 5000/10000
Adding item 6000/10000
Adding item 7000/10000
Adding item 8000/10000
Adding item 9000/10000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 19970602_632411newsML to 19970401_479285newsML
Data columns (total 3 columns):
topic_codes    10000 non-null object
headline       10000 non-null object
text           10000 non-null object
dtypes: object(3)
memory usage: 312.5+ KB

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 19970602_632411newsML to 19970401_479285newsML
Data columns (total 3 columns):
topic_codes    10000 non-null object
headline       10000 non-null object
text           10000 non-null object
dtypes: object(3)
memory usage: 312.5+ KB

In [15]:
df.describe().transpose()

,count,unique,top,freq
topic_codes,10000,1163,"['C15', 'C152', 'CCAT']",581
headline,10000,9606,LONDON CURRENCY AND GOLD BULLION RATES.,11
text,10000,9896,{'p': ['The Belgian central bank said in its d...,3